#root {
  margin: 0 0;
  padding: 0rem;
}

.submit-player-form p {
  margin: 0;
  margin-top: 5px;
}

img {
  max-width: 1764px;
  max-height: 1140px;
  width: 100%;
  top: 0;
  left: 0;
}

.board-nav {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.board-nav h1 {
  margin-left: 0px;
  margin-bottom: 10px;
  color: rgb(47, 128, 195);
}

.board-nav h2 {
  color: rgb(114, 43, 106);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.character-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: right;
}

.character-wrapper {
  display: flex;
  gap: 20px;
}

.character {
  height: 50px;
  width: 50px;
}

nav ol {
  display: flex;
  gap: 1em;
  list-style-type: none;
  padding-left: 15px;
}

.clicked {
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.found {
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 5px
}

.characters form {
  display: flex;
  gap:10px;
}

.characters input {
  padding-left: 10px;
}

.characters button {
  padding: 0.5empx;
}

.wally-border {
  position: static;
}

.results-titles {
  padding-top: 10px;
  padding-left: 10px;
}

.results-titles h1:first-child {
  margin-left: 10px;
  color: rgb(47, 128, 195);
}

.results-titles h1:last-child {
  font-size: 2.7rem;
  margin-left: 10px;
  color: rgb(114, 43, 106);
}

.result-list-wrapper {
  display: flex;
}

.result-list {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.result-list-item {
  display: flex;
}

.result-list-item p {
  min-width: 200px
}

.result-list p {
  text-align: left;
}


.play-again {
  padding-left: 40px;
}

.error-headers h2 {
  margin: 10px;
}